################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cindi.DotNetCore/.vs/Cindi.DotNetCore/v15/Server/sqlite3
