################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cindi.DotNetCore/.vs/*
/Cindi.DotNetCore/Cindi.DotNetCore/bin/*
/Cindi.DotNetCore/Cindi.DotNetCore/obj/*
/Cindi.DotNetCore/SampleBot/obj/*
/Cindi.DotNetCore/SampleBot/bin/*
/Cindi.DotNetCore/Cindi.Domain/bin/Debug
